@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'VWText-Regular';
    src: url('/resources/fonts/VWText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VWHeadWeb-Light1';
    src: url('/resources/fonts/VWHeadWeb-Light1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VWHead-Bold';
    src: url('/resources/fonts/VWHead-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

